.sidebar-item {
    color: #7e8cda;
    display: block;
    padding: 13px 20px;
    font-size: 14px;
    position: relative;
    transition: all 0.5s;
    font-family: "Poppins", sans-serif;
}

.sidebar-item>span {
    margin-left: 7px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff !important;
    border-bottom: 1px solid rgb(167 167 167 / 13%) !important;
}

.card-header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;
}

.content-page {
    flex: 1;
    height: 100%;
}

.txt-danger {
    font-size: 12px;
    list-style: none;
    color: #fc5454;
    margin-top: 5px
}

.search-select-validate {
    border: 1px solid #fc5454 !important;
    border-radius: 3px !important;
}

.input-group {
    border-color: none !important;
    border-width: 0 !important;
    border-radius: 0px;
    padding: 0 !important;
}

.add-team-box {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 15px 0 10px 0px;
}

.black {
    color: #000 !important;
}

.multiselect__tags {
    border: 1px solid #ced4da !important;
}

.error-class {
    border: 1px solid #fc5454 !important;
}